
body {
	width: 96%;
	margin: 0 auto;
	display: inline;
}

div#\ Info_General {
	margin-left: 26px;
}

div#\ Info_General > img {
	width: 225px;
	height: 234px;
	float: right;
	margin-right: 840px;
	border: 0;
	padding-top: 0px;
	padding-right: 0px;
	margin-top: -234px;
	margin-bottom: 0;
	padding-bottom: 0px;
}

div#Info_Contacte {
	width: 1063px;
	background-color: #D9D9D9;
	padding-bottom: 16px;
	padding-top: 16px;
}


div#\ Img_Info_per {
	display: flex;
	margin-left: 156px;
}

div#correo {
	margin-left: 256px;
}

div#localitzacio {
	margin-left: 277px;
}

div#Info_Contacte > p {
	margin-right: 30px;
}


div#Qualitats\ {
	background-color: #3E3E3E;
}

div#Qualitats\ {
	background-color: #3E3E3E;
	display: flex;
	width: 1023px;
	padding: 20px;
}


div#\ Info_per > p {
	margin-left: 140px;
}

p {
}

div#\ Info_per {
	display: flex;
}


div#Qualitats\ > p {
	color: #FFFFFF;
}

div#Qualitats\ > h2 {
	color: #FFFFFF;
	margin: 0;
}

div#Qualitats\ > img {
	float: right;
	margin-bottom: 17px;
}

div#Adicionals {
	width: 616px;
	margin-top: 141px;
	padding-bottom: 10px;
	padding-left: 21px;
	background-color: #A8A8A8;
}



div#Laboral_Exp {
	padding-bottom: -52px;
}


div#Laboral_Exp {
	width: 154%;
	margin: 0px;
	margin-left: 26px;
}

div#Empresa1 > p {
	margin-left: 24px;
	font-size: 32px;
}

div#Empresa2 > p {
	margin-left: 24px;
	font-size: 32px;
}

div#Right {
	float: right;
	margin-right: 840px;
	padding: 42px;
	padding-bottom: 10px;
	padding-top: 0;
	padding-right: 144px;
	background-color: #D9D9D9;
}

div#Left {
	float: left;
}


div#Skype {
	display: flex;
}


div#Twitter {
	display: flex;
}

	div#Twitter > img {
		width: 46px;
	}

	div#Twitter > p {
		margin-left: 2px;
	}

div#Skype > img {
	width: 46px;
}

div#Skype > p {
	margin-left: 3px;
}

div#\ Grafica1 {
	margin-right: 104px;
	margin-left: 197px;
}


	div#\ Grafica1 > img {
		margin-left: 51px;
		margin-top: -59px;
	}

	div#\ Grafica1 > p {
		margin-bottom: -11px;
	}

	div#\ Grafica1 > p {
		color: #FFFFFF;
	}



div#\ Grafica2 > img {
	width: 52%;
	margin-left: 50px;
	margin-top: -58px;
	margin-left: 87px;
}

div#\ Grafica2 > p {
	margin-bottom: -11px;
}

div#\ Grafica2 > p {
	color: #FFFFFF;
}




h3 {
	font-size: 30px;
}

u {
	font-size: 52px;
}

div#\ Info_General > p {
	font-size: 20px;
}

h1 {
	font-size: 64px;
}

div#Adicionals > p {
	font-size: 20px;
}
